<div class="well well-lg">
  <div id="<%= booking %>">
    <p>
      <strong>Email:</strong>
      <%= booking.email %>
    </p>

    <p>
      <strong>Confirmed:</strong>
      <%= booking.confirmed %>
    </p>

    <p>
      <strong>Check in date:</strong>
      <%= booking.check_in_date %>
    </p>

    <p>
      <strong>Check out date:</strong>
      <%= booking.check_out_date %>
    </p>

    <p>
      <strong>Number people:</strong>
      <%= booking.number_people %>
    </p>

    <p>
      <strong>Room:</strong>
      <%= booking.room_id %>
    </p>

  </div>
</div>