<li class="nav-item">
  <%= link_to 'REVIEWS', reviews_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'ROOMS', rooms_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'BOOKINGS', bookings_path, class: 'nav-link' %>
</li>
<% if current_user.present? && current_user.admin? %>
  <% if current_user.check_reviews? %>
    <li class="nav-item">
      <%= link_to 'ADMIN REVIEWS', admin_reviews_path, class: 'nav-link' %>
    </li>
  <% end %>
  <% if current_user.change_rooms? %>
    <li class="nav-item">
      <%= link_to 'ADMIN ROOMS', admin_rooms_path, class: 'nav-link' %>
    </li>
  <% end %>
  <% if current_user.confirms_reservations? %>
    <li class="nav-item">
      <%= link_to 'ADMIN BOOKINGS', admin_bookings_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'ADMIN CONFIRMED BOOKINGS', confirmed_bookings_admin_bookings_path, class: 'nav-link' %>
    </li>
    <li class="nav-item">
      <%= link_to 'ADMIN CONFIRMED BOOKINGS FILES', admin_confirmed_bookings_files_path, class: 'nav-link' %>
    </li>
  <% end %>
<% end %>