<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'HOTEL', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'REVIEWS', reviews_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'ROOMS', rooms_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'BOOKINGS', bookings_path, class: 'nav-link' %>
        </li>
        <% if Rails.env.development? %>
          <li class="nav-item">
            <%= link_to 'ADMIN REVIEWS', admin_reviews_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ADMIN ROOMS', admin_rooms_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ADMIN BOOKINGS', admin_bookings_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
